.contacts {
  position: relative;
  padding-top: 44px;
}

.contact__title {
  margin: 0 auto;
  margin-bottom: 34px;
  font-size: $font-size__title--big;
  line-height: 1.2em;
  font-weight: 100;
  text-align: center;
}

.contacts__inner {
  width: 280px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  background-color: $color-white;
}

.contact__list {
  @include reset-list-style;
  display: flex;
  flex-direction: column;
}

.contact__item {
  margin-bottom: 20px;

  &:nth-child(3) {
    margin-bottom: 23px;
    padding-left: 5px;
  }

  &:nth-child(2) {
    order: 2;
  }
}

.contact__item-name {
  display: block;
  font-size: $font-size__title;
  font-weight: 700;
  text-align: center;
}

.contact__link {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: $font-size__title--big;
  font-weight: 100;
  color: $color-red;

  &--mail {
    color: $color-background-gray;
  }
}

.contact__link--adress {
  width: 250px;
  line-height: 1.2em;
  padding-top: 4px;
  margin: 0 auto;

  &:hover {
    color: $color-background-gray;
    text-decoration: underline;
  }

  &:active {
    color: $color-background-gray;
    opacity: 0.3;
    text-decoration: none;
  }
}

.contact__link--mail-adress {
  &:hover {
    color: $color-background-gray;
    text-decoration: underline;
  }

  &:active {
    color: $color-background-gray;
    opacity: 0.3;
    text-decoration: none;
  }
}

.contact__link--tel {
  &:hover {
    color: $color-background-gray;
    text-decoration: underline;
  }

  &:active {
    color: $color-background-gray;
    opacity: 0.3;
    text-decoration: none;
  }
}

.contacts__map {
  max-width: $mobile-width;
  position: relative;
  background-size: cover;
  min-width: 100%;
  background-image: url("../img/bg-map-mobile@1x.jpg");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-position: center top;
    background-repeat: no-repeat;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 32px;
    top: 0;
    background: url("../img/bg-triangle-white-footer.svg") center no-repeat;
    background-size: contain;
    z-index: 6;
  }

  &::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    top: 46%;
    left: 44%;
    background: url("../img/icon-map-marker.svg") no-repeat;
    background-size: 100%;
    z-index: 1;
  }
}

.contacts__google-map {
  height: 200px;
  z-index: 3;
}

@media (min-width: $tablet-widths) {
  .contacts {
    padding-top: 18px;
  }

  .contacts__inner {
    width: 620px;
    padding-top: 27px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
  }

  .contacts__inner::after {
    height: 70px;
  }

  .contact__item {
    margin-bottom: 28px;

    &:nth-child(2) {
      margin-right: 17px;
    }

    &:nth-child(3) {
      margin-bottom: 43px;
      padding-left: 40px;
    }
  }

  .contact__title {
    width: 370px;
    font-size: $font-size__title--huge;
    line-height: 1.2em;
    margin-bottom: 43px;
  }

  .contact__item-name {
    margin-bottom: 2px;
  }

  .contact__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 18px;
    justify-content: space-around;
  }

  .contact__list-item {
    margin-bottom: 52px;
  }

  .contact__link--mail {
    margin-bottom: 4px;
    text-decoration: none;
  }

  .contact__link--adress {
    padding-top: 6px;
  }

  .contacts__map {
    min-width: 100%;
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      min-width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 70px;
      top: -1px;
      background: url("../img/bg-triangle-white-footer.svg") center no-repeat;
      background-size: 100%;
      z-index: 4;
    }

    &::after {
      position: absolute;
      content: "";
      width: 36px;
      height: 36px;
      top: 52%;
      left: 47.2%;
      background: url("../img/icon-map-marker.svg") no-repeat;
      background-size: 100%;
      z-index: 1;
    }
  }

  .contacts__google-map {
    max-width: 660px;
    height: 373px;
    z-index: 3;
  }
}

@media (min-width: $desktop-widths) {
  .contacts__inner {
    width: 920px;
    padding-top: 47px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    margin-bottom: 26px;

    &::after {
      height: 127px;
    }
  }

  .contact__list {
    padding-left: 37px;
    justify-content: baseline;
  }

  .contact__item {
    margin-bottom: 18px;

    &:nth-child(3) {
      padding-left: 36px;
      padding-right: 0;
      order: 3;
    }

    &:nth-child(2) {
      padding-left: 90px;
    }
  }

  .contact__title {
    width: 470px;
    font-size: $font-size__title--hugest;
    margin-bottom: 56px;
  }

  .contact__item-name {
    margin-bottom: 21px;
  }

  .contact__link {
    &--adress {
      padding-top: 3px;
      padding-right: 4px;
    }

    &--mail {
      padding-top: 0;
      padding-left: 20px;
    }

    &--mail-adress {
      padding-left: 20px;
      padding-top: 2px;
    }
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      min-width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 80px;
      top: -1px;
      background: url("../img/bg-triangle-white-footer.svg") center no-repeat;
      background-size: 100%;
    }

    &::after {
      position: absolute;
      content: "";
      width: 36px;
      height: 36px;
      top: 50.5%;
      left: 48%;
      background: url("../img/icon-map-marker.svg") no-repeat;
      background-size: 100%;
      z-index: 1;
    }
  }

  .contacts__google-map {
    height: 480px;
    min-width: 100%;
    max-width: 1200px;
  }
}
