$color-black: #000000;
$color-black-opacity: rgba(0, 0, 0, 0.3);

$color-white: #ffffff;

$color-smokewhite-lighter: #f2f2f2;
$color-smokewhite-light: #dddfe0;
$color-smokewhite: #e5e5e5;
$color-smokewhite-dark: #e1e3e5;
$color-smokewhite-darkest: #f7f7f8;

$color-gray-extralight: #bec2c7;
$color-gray-lighter: #b5b9be;
$color-gray: #969da4;
$color-gray-dark: #7e868f;
$color-gray-darkest: #7f858c;
$color-gray-extradark: #5d6873;


$color-deepblue-extralight: #8d949b;
$color-deepblue-light: #485461;
$color-deepblue: #283645;
$color-deepblue-dark: #45515e;
$color-deepblue-darkest: #283544;
$color-deepblue-extradark: #1d2631;


$color-pink-extralight: #fae7ec;
$color-pink-lightest: #f1becc;
$color-pink-light: #e06989;
$color-pink: #d22856;
$color-pink-dark: #b12c54;

$color-pink-opacity: rgba(210, 40, 86, 0.3);

$color-common-light: #e9ebec;

$color-green-light: #61b98f;
$color-green:#2aab6d;
$color-green-dark: #1c9b5e;

