$font-size-extrasmall: 12px;
$font-size-smaller: 14px;
$font-size-small: 18px;
$font-size-big: 21px;
$font-size-bigger: 24px;
$font-size-extrabig: 30px;
$font-size-huge: 40px;
$font-size-hugest: 50px;
