$font-size__text--small: 12px;
$font-size__text--more: 14px;
$font-size__text--big: 30px;
$font-size__title: 18px;
$font-size__title--more: 21px;
$font-size__title--big: 24px;
$font-size__title--huge: 40px;
$font-size__title--hugest: 50px;
$font-size__arrow: 85px;
