.slogan {
  display: block;
  text-align: center;
  padding-top: 46px;
  padding-right: 0;
  padding-bottom: 32px;
  padding-left: 0;
  margin-bottom: 17px;
  &--photo {
    padding-top: 45px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 12px;
  }
  &--form {
    margin-bottom: 0;
    padding-top: 46px;
    padding-left: 0;
    padding-bottom: 18px;
    padding-right: 0;
  }
}

.slogan__title {
  margin: 0;
  font-size: $font-size__title--big;
  font-weight: 100;
  &:first-child {
    margin-bottom: 34px;
  }
}

.slogan__text {
  width: 250px;
  margin: 0 auto;
  font-size: $font-size__text--more;
  line-height: $font-size__text--big;
  &--form {
    width: 280px;
  }
}

.slogan__text-span {
  display: none;
}

@media (min-width: $tablet-widths) {
  .slogan {
    padding-top: 92px;
    padding-right: 0;
    padding-bottom: 77px;
    padding-left: 0;
    margin-bottom: 0;
    &--form {
      padding-top: 91px;
      padding-right: 0;
      padding-bottom: 19px;
      padding-left: 0;
    }
  }

  .slogan__title {
    font-size: $font-size__title--huge;
    text-align: center;
    &:first-child {
      width: 320px;
      margin: 0 auto;
    }
  }

  .slogan__text {
    width: 490px;
    font-size: $font-size__title;
    line-height: $font-size__text--big;
  }

  .slogan__text-span {
    display: block;
  }
}

@media (min-width: $desktop-widths) {
  .slogan {
    padding-top: 93px;
    padding-right: 0;
    padding-bottom: 48px;
    padding-right: 0;
  }

  .slogan--form {
    padding-bottom: 65px;
  }

  .slogan--photo {
    padding-bottom: 88px;
  }

  .slogan__title {
    font-size: $font-size__title--hugest;
    &:nth-last-child(1) {
      width: 490px;
      margin: 0 auto;
    }
  }
  .slogan__text {
    width: 800px;
    font-size: $font-size__title;
    line-height: $font-size__text--big;
  }

  .slogan__text--small {
    width: 580px;
  }

  .slogan__text-span {
    display: inline-block;
  }
}
