.modal-block {
  display: none;
  position: fixed;
  width: 100%;
  top: 30%;
  left: 0;
  background: $color-white;
  box-sizing: border-box;
  box-shadow: 0 5px 17px 0 $color-black-opacity;
  z-index: 2;

  &--show {
    display: block;
  }
  &--success {
    top: 25%;
  }
  &--failure {
    top: 28.8%;
  }
}

.modal-block__wrapper {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

.modal-block__text {
  margin-bottom: 0;
  margin-top: 0;
}

.modal-block__title {
  display: block;
  text-align: center;
  font-size: $font-size__title;
  font-weight: 700;
  line-height: 24px;
}

.modal-block__message-text {
  display: inline-block;
  text-align: center;
  line-height: 24px;
  margin-top: 26px;
  margin-bottom: 29px;
}

.modal-block__btn {
  width: 280px;
  @include reset-button-style;
  display: block;
  margin: 0 auto;
  padding-top: 17px;
  font-size: $font-size__title;
  padding-right: 10px;
  padding-bottom: 17px;
  padding-left: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 30px;
  background-color: $color-green;
  color: $color-white;
  cursor: pointer;
  &:hover {
    background-color: $color-green-2;
  }

  &:active {
    color: $color-green-3;
    outline: none;
  }

  &:disabled {
    background-color: $color-gray-3;
  }
}

.modal-block__inner {
  background-color: $color-white-gray;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
}

.modal-block--failure .modal-block__inner {
  background-color: $color-white;
  padding-top: 10px;
  padding-bottom: 50px;
}

@media (min-width: $tablet-widths) {
  .modal-block {
    width: 460px;
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;

    &--success {
      top: 33.6%;
    }
    &--failure {
      top: 23.2%;
    }
  }

  .modal-block__btn {
    width: 300px;
  }

  .modal-block__message-text {
    font-size: 18px;
  }

  .modal-block--success .modal-block__message-text {
    width: 330px;
    margin-top: 22px;
    margin-bottom: 32px;
    padding-left: 45px;
  }

  .modal-block--failure .modal-block__message-text {
    width: 320px;
    margin-top: 22px;
    padding-left: 50px;
  }

  .modal-block--success .modal-block__wrapper {
    padding-top: 42px;

  }

  .modal-block__title {
    width: 290px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-block--success .modal-block__title {
    width: 290px;
  }

  .modal-block--failure .modal-block__title {
    width: 260px;
  }
}

@media (min-width: $desktop-widths) {
  .modal-block {
    &--success {
      width: 780px;
      top: 21.2%;
      margin-left: 90px;
    }
    &--failure {
      top: 25.3%;
      left: 13.7%;
    }
  }

  .modal-block--success .modal-block__title {
    width: 400px;
  }

  .modal-block--success .modal-block__message-text {
    width: 430px;
    margin-bottom: 38px;
    padding-left: 0;
    margin-left: -4px;
  }

  .modal-block__wrapper--success {
    padding-top: 38px;
    left: 50%;
    padding-left: 177px;
    padding-right: 180px;
    background-image: linear-gradient(to bottom, $color-white 214px, $color-white-gray 163px);
  }

  .modal-block__btn--success {
    width: 460px;
  }
}
@media (min-width: $large-desktop) {
  .modal-block {
        &--success {
          top: 50%;
          left: 15%;
        }
        &--failure {
          top: 50%;
          left: 25%;
        }
      }
}
