.fields-radio {
  width: $mobile-width;
  background-color: $color-smokewhite-darkest;
}

.fields-radio__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-width;
  margin-top: 38px;
  margin-right: 0;
  margin-bottom: 27px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  border-width: 0;
  box-sizing: border-box;
}

.fields-radio__legend {
  margin-top: 0;
  max-width: 300px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-pink;
}

.fields-radio__item {
  display: flex;
  width: 280px;
  margin: 5px 0 0;
  margin-top: 5px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.fields-radio__input {
  display: none;
}

.fields-radio__text {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 70px;
  cursor: pointer;
  font-size: $font-size-small;
  line-height: 40px;
  font-weight: 400;

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 15px;
    border-radius: 50%;
    border: 2px solid$color-smokewhite;
    background-color: $color-white;
    box-sizing: border-box;
  }
}

.fields-radio__text:hover::after {
  border-color: $color-black;
}

.fields-radio__text:active::after {
  border-color: $color-pink;
}

.fields-radio__input:checked + .fields-radio__text::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 27px;
  left: 13px;
  border-radius: 50%;
  background-color: $color-pink;
  z-index: 1;
}

@media (min-width: $tablet-widths) {
  .fields-radio {
    width: 620px;
    background-color: $color-white;
  }

  .fields-radio__items {
    width: 620px;
    margin: 0;
    padding-top: 28px;
    padding-right: 0;
    padding-bottom: 43px;
    padding-left: 40px;
    border: 2px solid $color-smokewhite;
  }

  .fields-radio__legend {
    display: inline-block;
    background-color: $color-white;
    margin-left: auto;
    margin-right: 122px;
    max-width: 600px;
    margin-bottom: 27px;
    padding: 0 28px;
    margin-top: -43px;
    line-height: 30px;
  }

  .fields-radio__item {
    width: 540px;
    margin: 0 0 15px;
    box-sizing: border-box;
  }

  .fields-radio__text {
    padding-left: 60px;
    line-height: 30px;

    &::after {
      top: 10px;
    }
  }

  .fields-radio__input:checked + .fields-radio__text::before {
    top: 22px;
  }
}

@media (min-width: $desktop-widths) {
  .fields-radio {
    width: 435px;
  }

  .fields-radio__items {
    width: 435px;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 45px;
    padding-left: 0;
  }

  .fields-radio__legend {
    width: 320px;
    margin-top: -45px;
    margin-left: 101px;
    margin-right: 90px;
    margin-bottom: 29px;
    padding-top: 0;
    padding-right: 27px;
    padding-bottom: 0;
    padding-left: 23px;
  }

  .fields-radio__item {
    width: 300px;
    margin-bottom: 14px;
  }

  .fields-radio__text {
    position: relative;
    display: block;
    padding-left: 72px;
    line-height: 30px;

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      left: 12px;
      top: 10px;
    }
  }

  .fields-radio__input:checked + .fields-radio__text::before {
    top: 22px;
    left: 25px;
  }
}
