.fields-text {
  width: $mobile-width;
  flex-grow: 1;
}

.fields-text__items {
  display: flex;
  flex-direction: column;
  max-width: $mobile-width;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 5px;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  border-width: 0;
  box-sizing: border-box;

  &--contacts {
    margin-bottom: 40px;
  }
}

.fields-text__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;
}

.fields-text__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;
}

.fields-text__title {
  margin-top: 16px;
  margin-right: 22px;
  margin-bottom: 4px;
  margin-left: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-pink;
}

.fields-text__item:nth-child(3) .fields-text__title {
  margin-top: 17px;
  margin-right: 22px;
  margin-bottom: 5px;
  margin-left: 22px;
}

.fields-text__legend {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 11px;
  margin-left: 20px;
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-pink;

  &--hidden {
    display: none;
  }
}

.fields-text__input {
  width: 280px;
  height: 64px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  outline: 0;
  font-size: $font-size-small;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: $color-black;
  box-sizing: border-box;
  border: 2px solid $color-smokewhite;

  &:-ms-input-placeholder {
    font-size: $font-size-small;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    height: 64px;
    line-height: 30px;
    color: $color-black;
  }

  &::-webkit-input-placeholder {
    font-size: $font-size-small;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 30px;
    height: 64px;
    padding-top: 15px;
    color: $color-black;
  }

  &::-moz-placeholder {
    font-size: $font-size-small;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
    color: $color-black;
  }

  &:-moz-placeholder {
    font-size: $font-size-small;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    padding-top: 15px;
    height: 64px;
    line-height: 30px;
    color: $color-black;
  }

  &:hover {
    border-color: $color-black;
  }

  &:focus {
    border-color: $color-pink;
  }
}

.fields-text__icon {
  display: none;
  height: 64px;
  min-width: 62px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  background-color: $color-smokewhite;
  background-repeat: no-repeat;
  background-position: center;

  &--phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

.fields-text__textarea {
  width: 280px;
  min-height: 200px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  margin-top: 5px;
  margin-bottom: 16px;
  outline: 0;
  color: $color-black;
  font-family: "Open Sans", "Arial", sans-serif;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  font-size: $font-size-small;
  line-height: 30px;
  border: 2px solid $color-smokewhite;

  &:hover {
    border-color: $color-black;
  }

  &:focus {
    border-color: $color-pink;
  }

  &:active {
    outline: 0;
  }

  &:-ms-input-placeholder {
    color: $color-black;
  }

  &::-webkit-input-placeholder {
    color: $color-black;
  }

  &::-moz-placeholder {
    color: $color-black;
  }

  &:-moz-placeholder {
    color: $color-black;
  }
}

@media (min-width: $tablet-widths) {
  .fields-text {
    width: 620px;
  }

  .fields-text__items {
    align-items: center;
    max-width: 620px;
    margin: 0;
    padding: 0;

    &--contacts {
      border: 2px solid $color-smokewhite;
      padding-top: 36px;
      padding-bottom: 16px;
    }

    &--review {
      border: 2px solid $color-smokewhite;
      padding-top: 37px;
      padding-left: 2px;
      padding-bottom: 50px;
    }
  }

  .fields-text__legend {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;

    &--hidden {
      display: inline-block;
      background-color: $color-white;
      margin-top: -45px;
      margin-bottom: 36px;
    }
  }

  .fields-text__legend--review {
    display: inline-block;
    margin-top: -45px;
    margin-bottom: 37px;
    background-color: $color-white;
    padding-left: 37px;
    padding-right: 37px;
  }

  .fields-text__container {
    width: 616px;
  }

  .fields-text__item {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 620px;
    margin: 0;
    padding: 0;
    padding-bottom: 51px;

    &:last-child {
      padding-bottom: 0;
    }

    &--contacts {
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 18px;
      padding-left: 59px;
    }
  }

  .fields-text__icon {
    height: 64px;
    min-width: 62px;
    box-sizing: border-box;
    border: 0;
    background-color: $color-smokewhite;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    order: 2;
    padding: 0;
    margin: 0;

    &--phone {
      background-image: url("../img/icon-phone.svg");
      background-position-x: 19px;
      background-size: 20px;
    }

    &--email {
      background-image: url("../img/icon-mail.svg");
      background-position-x: 19px;
      background-size: 20px;
    }
  }

  .fields-text__title {
    margin-top: 8px;
    margin-right: 19px;
    margin-bottom: 5px;
    margin-left: 0;

    &--contacts {
      order: 3;
      margin-top: 10px;
      margin-right: 18px;
      margin-bottom: 10px;
      margin-left: 18px;
    }
  }

  .fields-text__item:nth-child(2) .fields-text__input {
    padding-left: 20px;
  }

  .fields-text__item--contacts:nth-child(2) .fields-text__input--contacts {
    padding-left: 18px;
    padding-top: 13px;
  }

  .fields-text__item:nth-child(3) .fields-text__title {
    margin-top: 7px;
    margin-right: 19px;
    margin-bottom: 5px;
    margin-inline-start: 0;
  }

  .fields-text__input {
    width: auto;
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 19px;

    &--contacts {
      width: 438px;
      order: 1;
      padding-left: 18px;
      flex-grow: 0;
    }
  }

  .fields-text__span {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;
    font-size: 13px;
  }

  .fields-text__textarea {
    width: 500px;
    min-height: 193px;
    padding-top: 14px;
    padding-right: 17px;
    padding-bottom: 14px;
    padding-left: 17px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-widths) {
  .fields-text {
    align-items: flex-end;
    padding: 0;

    &:first-child {
      align-items: center;
      max-width: 435px;
    }
  }

  .fields-text__items {
    max-width: 435px;
    margin: 0;
    padding-right: 2px;
    padding-top: 18px;

    &--review {
      min-width: 940px;
      padding-top: 33px;
      padding-right: 0;
      padding-bottom: 45px;
      padding-left: 0;
    }
  }

  .fields-text__item--contacts:nth-child(2) .fields-text__input--contacts {
    padding-top: 12px;
    padding-left: 20px;
  }

  .fields-text__items--contacts {
    min-width: 940px;
    padding-top: 34px;
    padding-right: 54px;
    padding-bottom: 13px;
    padding-left: 57px;
    margin: 0;
  }

  .fields-text__legend {
    padding-top: 0;
    padding-right: 33px;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 0;
    padding-left: 29px;

    &--hidden {
      display: inline-block;
      margin-top: -44px;
      margin-bottom: 34px;
    }

    &--review {
      padding-left: 33px;
      margin-top: -42px;
      margin-bottom: 33px;
      padding-right: 33px;
    }
  }

  .fields-text__container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 824px;
  }

  .fields-text__item {
    width: 435px;
    margin: 0;
    padding: 0;
    padding-bottom: 52px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &--contacts {
      width: 380px;
      padding-bottom: 0;
    }

    &--review {
      width: 940px;
    }
  }

  .fields-text__title--contacts {
    margin-top: 9px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: 19px;
  }

  .fields-text__item:nth-child(3) .fields-text__title {
    margin-right: 17px;
  }

  .fields-text__item:nth-child(3) .fields-text__input {
    padding-left: 20px;
  }

  .fields-text__input {
    padding-left: 19px;

    &--contacts {
      padding-left: 18px;
      padding-top: 14px;
      padding-bottom: 14px;
      width: 315px;
    }
  }

  .fields-text__icon {
    height: 62px;
    min-width: 60px;

    &--email {
      height: 63px;
      background-position-x: 19px;
      background-position-y: 23px;
      background-size: 20px;
    }

    &--phone {
      height: 63px;
      background-size: 20px 20px;
      background-position-x: 17px;
      background-position-y: 20px;
    }
  }

  .fields-text__textarea {
    width: 820px;
    padding-top: 15px;
    padding-left: 18px;
    min-height: 128px;
  }
}
