.page-header__title {
  font-size: 0;
}

.page-header__logo-img {
  fill: $color-white;
  transition: all 0.3s;

  &--mobile {
    display: inline;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }

  &:focus {
    outline: none;
    fill: $color-pink;
  }

  &:hover {
    fill: $color-pink;
  }

  &:active {
    fill: $color-white;
    outline: none;
    opacity: 0.3;
  }
}

.page-header__nav {
  top: 0;
  z-index: 1;
  width: 100%;
}

.page-header__inner {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;
  background-color: $color-black-opacity;
  border: none;
}

.main-nav__wrapper {
  position: absolute;
  width: 100%;
  background-color: $color-black-opacity;
}

.page-header__list {
  display: none;
  position: relative;

  @include reset-list-style;
}

.page-header__item > .page-header__link {
  display: block;
  width: 100%;
  padding-top: 19px;
  outline: none;
  padding-bottom: 19px;
  border-bottom: 1px solid $color-black;
  border-top: 1px solid $color-deepblue-light;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $font-size-small;
  color: $color-white;
  background-color: $color-deepblue;

  &:hover {
    color: $color-pink;
  }
}

.page-header__link:active > .page-header__text {
  color: $color-pink;
  opacity: 0.3;
}

.page-header__link:focus > .page-header__text {
  color: $color-pink;
  outline: none;
}

.page-header__item--active > .page-header__link--active {
  cursor: default;

  &:hover {
    color: $color-white;
    opacity: 1;
    cursor: default;
  }

  &:active {
    color: $color-white;
    opacity: 1;
  }
}

.page-header__link--active {
  cursor: default;

  &:hover {
    color: $color-white;
  }

  &:active {
    color: $color-white;
  }

  &:focus {
    color: $color-white;
  }
}

.page-header__link--active > .page-header__text--active {
  position: relative;

  &:hover {
    color: $color-white;
    opacity: 1;
    cursor: default;
  }

  &:active {
    color: $color-white;
    opacity: 1;
  }

  &:focus {
    color: $color-pink;
  }
}

.page-header__text--active {
  position: relative;

  &:hover {
    color: $color-white;
    opacity: 1;
    cursor: default;
  }

  &:active {
    color: $color-white;
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -9px;
    width: 100%;
    border-bottom: 2px solid $color-white;
  }
}

.page-header__link--active:focus > .page-header__text--active {
  &::after {
    border-color: $color-pink;
  }
}

.page-header__link--active:focus .page-header__text--active {
  color: $color-pink;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -9px;
    width: 100%;
    border-bottom: 2px solid $color-pink;
  }
}

.page-header__logo-item {
  font-size: 0;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.page-header__logo-item:focus .page-header__logo-img {
  fill: $color-pink;
  outline: none;
}

.page-header__btn-close {
  width: 24px;
  height: 27px;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.page-header__btn-close:focus svg {
  fill: $color-pink;
}

.page-header__img-btn-close {
  width: 24px;
  height: 24px;
  display: inline-block;
  padding-bottom: 3px;
  fill: $color-white;

  &:hover {
    fill: $color-pink-dark;
  }

  &:focus {
    fill: $color-pink-dark;
  }

  &:active {
    outline: none;
    fill: $color-pink-opacity;
  }
}

.page-header__img-btn-open {
  display: none;
  width: 50px;
  fill: $color-white;

  &:hover {
    fill: $color-pink-dark;
  }

  &:focus {
    fill: $color-pink-dark;
  }

  &:active {
    outline: none;
    fill: $color-pink-opacity;
  }
}

.page-header--closed .page-header__item {
  display: none;
}

.page-header--closed .page-header__img-btn-open {
  display: block;
}

.page-header--closed .page-header__btn-close {
  margin-right: 25px;
}

.page-header--closed .page-header__img-btn-close {
  display: none;
}

.page-header--closed .page-header__logo-item {
  display: flex;
}

.page-header--opened .page-header__item {
  display: flex;
}

.page-header--opened .page-header__img-btn-close {
  display: block;
}

.page-header--opened .page-header__btn-close {
  padding: 0 0 3px 4px;
}

.page-header--opened .page-header__img-btn-open {
  display: none;
}

.page-header--opened .page-header__logo-item {
  position: static;
}

.page-header__nav--open .page-header__list {
  display: block;
}

.page-header__nav--open .page-header__inner {
  background-color: $color-deepblue;
  border-bottom: 1px solid $color-black;
}

@media (min-width: $tablet-widths) {
  .page-header__logo-img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline;
    }

    &--desktop {
      display: none;
    }
  }

  .page-header__inner {
    min-height: 110px;
    padding-bottom: 33px;
  }

  .page-header__btn-close {
    padding-top: 9px;
  }

  .page-header__nav--open .page-header__inner {
    background-color: $color-deepblue;
    border-bottom: 1px solid $color-black;
    min-height: 56px;
  }
}

@media (min-width: $desktop-widths) {
  .page-header__logo-img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline;
    }
  }

  .page-header__nav {
    position: absolute;
    background-color: $color-black-opacity;
  }

  .page-header__link:active > .page-header__text {
    color: $color-white;
    opacity: 0.3;
  }


  .page-header__inner {
    position: static;
    margin-right: 157px;
    min-height: auto;
    padding: 0;
  }

  .page-header__wrapper {
    display: flex;
    padding-top: 20px;
    padding-bottom: 25px;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }

  .page-header__list {
    display: flex;
    top: 0;
    width: 634px;
    justify-content: baseline;
  }

  .page-header__item {
    margin-right: 30px;
    display: block;

    &:nth-child(1) {
      margin-right: 61px;
    }

    &:nth-child(2) {
      margin-right: 60px;
    }

    &:nth-child(3) {
      margin-right: 65px;
    }
  }

  .page-header__burger {
    display: none;
  }

  .page-header__btn-close {
    display: none;
  }

  .page-header__item > .page-header__link {
    width: 100px;
    background-color: transparent;
    padding-top: 21px;
    padding-bottom: 20px;
    text-transform: capitalize;
    border: none;
    font-size: $font-size-small;
    line-height: $font-size-small;
    font-weight: 400;
  }

  .page-header__item:nth-child(2) > .page-header__link {
    width: 120px;
  }

  .page-header__item:nth-child(4) > .page-header__link {
    width: 130px;
  }

  .page-header--closed .page-header__item {
    display: block;
  }

  .page-header__nav--open .page-header__list {
    top: 0;
    display: flex;
  }

  .page-header__nav--open .page-header__inner {
    border: none;
    background-color: transparent;
    padding-bottom: 10px;
  }
}
