.presentation {
  width: 100%;
  margin: 0 auto;
}

.presentation__title-container {
  max-width: $mobile-width;
  margin: 0 auto;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 43px;
  padding-left: 29px;
  background-color: $color-white;
  box-sizing: border-box;
}

.presentation__title {
  text-align: center;

  @include reset-text-style;
  font-size: $font-size__text--more;
  font-weight: 400;
  line-height: 30px;
  color: $color-gray-font;
}

.presentation__wrapper {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 20px 0 41px 0;
  background-color: $color-white-gray;
  box-sizing: border-box;
}

.presentation__link-img,
.presentation__img {
  width: 280px;
  height: 374px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 9px;
}

.presentation__list {
  width: 240px;
  margin: 0 auto;

  @include reset-list-style;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 52px;
  padding-left: 40px;
}

.presentation__list-container {
  margin: 0 auto;
  width: $mobile-width;
  border-bottom: 2px solid $color-gray-4;
}

.presentation__item {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-right: 13px;
  margin-bottom: 15px;
  margin-left: 15px;
  vertical-align: middle;
  box-sizing: border-box;

  &:nth-child(2) {
    padding-top: 2px;
  }

  &:nth-child(3) {
    margin-top: 13px;
    margin-right: 13px;
    margin-bottom: 15px;
    margin-left: 23px;
  }
}

.presentation__item-inner {
  position: relative;
}

.presentation__tool-bar {
  display: none;
  height: 2px;
  background: $color-background-gray;
  cursor: pointer;

  &--main {
    margin-bottom: 34px;
    margin-left: 38px;
    margin-right: 20px;
    width: 240px;
  }

  &--active {
    display: block;
    width: 240px;
    top: 84px;
    left: -17px;
    position: absolute;
  }
}

.presentation__tool-togle {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid $color-red;
  border-radius: 50%;
  background: $color-white-gray;

  &:hover {
    background: $color-red;
  }
}

.presentation__tool-bar--active .presentation__tool-togle {
  top: -6px;
  left: 193px;
}


.presentation__tool-img {
  cursor: pointer;
  fill: $color-gray-13;

  &:hover {
    fill: $color-gray-12;
  }
}

.presentation__tool-img--active {
  fill: $color-red;
  cursor: default;

  &:hover {
    fill: $color-red;
  }

  &:active {
    fill: $color-red;
  }
}

.presentation__tool-img-fill:hover {
  fill: $color-gray-12;
}

.presentation__tool-img-crop:hover {
  fill: $color-gray-12;
}

.presentation__tool:hover .presentation__tool-img {
  fill: $color-gray-12;
}

.presentation__tool:active .presentation__tool-img {
  fill: $color-red;
}

.presentation__btn-container {
  width: 280px;
  padding: 0 20px;
}

.presentation__btn-submit,
.presentation__btn-reset {
  font-size: $font-size__title;
  font-weight: bold;
  padding-top: 16px;
  padding-right: 93px;
  padding-bottom: 16px;
  padding-left: 85px;
  transition: all 0.25s;
  border: 3px solid $color-red;
  color: $color-red;
  background-color: transparent;
  line-height: $font-size__title;
  outline: none;
  cursor: pointer;
}

.presentation__btn-submit {
  margin-top: 37px;
  margin-right: 0;
  margin-bottom: 11px;
  padding-right: 86px;
  letter-spacing: 0.8px;
  margin-left: 0;
  border-radius: 25px;

  &:hover {
    background-color: $color-red;
    color: $color-white;
  }

  &:active {
    color: $color-red-7;
  }

   &:focus {
    background-color: $color-red;
    color: $color-white;
  }
}

.presentation__btn-reset {
  border: 3px solid $color-gray-4;
  color: $color-gray-4;
  border-radius: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.4px;
  padding-right: 102px;
  padding-left: 100px;

  &:hover {
    border-color: $color-gray-13;
    color: $color-gray-13;
  }

  &:active {
    background-color: $color-gray-13;
    color: $color-gray-4;
  }

  &:focus {
    border-color: $color-gray-13;
    color: $color-gray-13;
  }
}

@media (min-width: $tablet-widths) {
  .presentation {
    max-width: $tablet-widths;
  }

  .presentation__title-container {
    max-width: 660px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
    margin-bottom: 30px;
    padding-top: 44px;
  }

  .presentation__title {
    font-size: $font-size__title;
  }

  .presentation__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 660px;
    padding-top: 57px;
    padding-right: 0;
    padding-bottom: 52px;
    padding-left: 0;
  }

  .presentation__link-img,
  .presentation__img {
    width: 300px;
    height: 400px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    margin: 0;
  }

  .presentation__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 288px;
    margin-right: 20px;
    min-height: 400px;
  }

  .presentation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    padding: 0;
    border-bottom: none;
  }

  .presentation__list-container {
    width: 280px;
    margin: 0 auto;
    border-bottom: none;
  }

  .presentation__tool-bar {
    display: block;
    width: 200px;

    &--active {
      display: block;
      width: 200px;
      top: 0;
      left: 0;
      position: relative;
    }
  }

  .presentation__item {
    width: 275px;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 12px;
    margin: 0;
    border-bottom: 1px solid $color-gray-4;

    &:nth-child(1) {
      padding-top: 6px;
      padding-bottom: 23px;
    }

    &:nth-child(2) {
      padding-top: 24px;
      padding-bottom: 22px;
    }

    &:nth-child(3) {
      padding-top: 25px;
      padding-bottom: 27px;
      margin: 0;
    }
  }

  .presentation__tool-img--crop:hover {
    fill: $color-gray-12;
    cursor: pointer;
  }

  .presentation__tool-togle--main {
    display: none;
  }

  .presentation__item:nth-child(1) .presentation__tool-togle {
    top: 6;
    left: 145px;
  }

  .presentation__item:nth-child(2) .presentation__tool-togle {
    top: 6px;
    left: 82px;
  }

  .presentation__item:nth-child(3) .presentation__tool-togle {
    top: 2px;
    left: 153px;
  }

  .presentation__item-inner {
    display: flex;
    align-items: center;
  }

  .presentation__btn-container {
    width: 280px;
    padding: 0;
    margin-left: 15px;
  }

  .presentation__tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 23px;
    padding-left: 5px;
    box-sizing: border-box;

    &--crop {
      padding-top: 6px;
      padding-left: 3px;
    }

    &--fill {
      padding-top: 22px;
    }

    &--contrast {
      padding-bottom: 26px;
    }
  }

  .presentation__tool-img {
    width: 25px;
    height: 25px;
    margin-right: 48px;
    fill: $color-red;

    &--crop {
      margin-right: 30px;
      padding-left: 3px;
    }

    &--fill {
      height: 22px;
      padding-left: 5px;
      margin-right: 28px;
      margin-top: 4px;
    }

    &--contrast {
      width: 17px;
      height: 17px;
      margin-right: 32px;
      margin-left: 10px;
    }
  }

  .presentation__btn-submit,
  .presentation__btn-reset {
    align-self: center;
    width: 260px;
    margin: 0;
    margin-top: 25px;
    padding-top: 15px;
    padding-right: 87px;
    padding-bottom: 16px;
    padding-left: 74px;
    font-size: $font-size__title;
    font-weight: 700;
    box-sizing: border-box;
  }

  .presentation__btn-reset {
    padding-right: 93px;
    padding-left: 87px;
    letter-spacing: 0.5px;
  }

  .presentation__btn-submit {
    margin-top: auto;
    padding-right: 84px;
    letter-spacing: 0.9px;
    padding-left: 74px;
  }
}

@media (min-width: $desktop-widths) {
  .presentation {
    width: 100%;
    max-width: 960px;
    padding-bottom: 27px;
  }

  .presentation__title-container {
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 36px;
    padding-left: 0;
  }

  .presentation__wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 56px;
    padding-right: 0;
    padding-bottom: 58px;
    padding-left: 60px;
  }

  .presentation__link-img,
  .presentation__img {
    width: 300px;
    height: 400px;
  }

  .presentation__form {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    margin-right: 60px;
    width: 490px;
  }

  .presentation__list {
    margin-left: 78px;
  }

  .presentation__list,
  .presentation__item {
    width: 411px;
  }

  .presentation__list-container {
    width: 600px;
  }

  .presentation__tool-bar {
    display: block;
    width: 288px;

    &--main {
      display: none;
    }
  }

  .presentation__tool {
    width: 411px;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 0;

    &--crop {
      padding-top: 0;
      padding-bottom: 11px;
      padding-left: 0;
    }

    &--fill {
      padding-bottom: 8px;
    }
  }

  .presentation__item:nth-child(1) .presentation__tool-togle {
    top: -7px;
    left: 70px;
  }

  .presentation__item:nth-child(2) .presentation__tool-togle {
    top: 17px;
    left: 340px;
  }

  .presentation__item:nth-child(3) .presentation__tool-togle {
    top: 15px;
    left: 253px;
  }

  .presentation__item {
    &:nth-child(2) {
      padding-top: 12px;
      padding-bottom: 10px;
    }

    &:nth-child(3) {

      padding-top: 12px;
      padding-bottom: 13px;
      margin: 0;
    }

    &:nth-child(1) {

      padding-top: 0;
      padding-bottom: 13px;
    }
  }

  .presentation__tool-img {
    width: 46px;
    height: 46px;

    &--fill {
      width: 48px;
      height: 48px;
      padding-left: 2px;
      margin-top: 2px;
      margin-right: 43px;
    }

    &--contrast {
      width: 33px;
      height: 33px;
      padding-bottom: 6px;
      padding-top: 5px;
      margin-left: 6px;
      margin-right: 54px;
    }

    &--crop {
      margin-top: -2px;
      margin-right: 47px;
      padding-left: 0;
    }
  }

  .presentation__tool-togler {
    margin-bottom: 2px;
    width: 288px;
  }

  .presentation__btn-submit,
  .presentation__btn-reset {
    width: 185px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 44px;
    padding-right: 45px;
    margin-top: 0;
  }

  .presentation__btn-submit {
    margin-right: 40px;
  }

  .presentation__btn-container {
    display: flex;
    justify-content: space-around;
    width: 450px;
    padding-left: 63px;
  }
}
