.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.slider__pagination--reviews {
  padding-right: 5px;
}

.slider__pagination--packets .slider__pagination-item {
  &:nth-child(1) {
    margin-right: 16px;
  }

  &:nth-child(2) {
    margin-right: 18px;
  }
}

.slider__pagination-item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $color-gray-extralight;
  margin-right: 19px;

  &:nth-child(1) {
    margin-right: 15px;
  }

  &:nth-child(3) {
    margin-right: 0;
  }

  &:hover {
    background-color: $color-gray-dark;
  }

  &:active {
    background-color: $color-common-light;
  }

  &--active {
    border: 3px solid $color-deepblue;
    background-color: $color-white;
    cursor: default;
  }
}

.slider__pagination-item--active:hover {
  cursor: default;
  border: 3px solid $color-deepblue;
  background-color: $color-white;
}

.slider__arrow {
  display: none;
}

@media (min-width: $tablet-widths) {
  .packets .slider__pagination {
    display: none;
  }
}

@media (min-width: $desktop-widths) {
  .slider__pagination {
    display: none;
  }

  .slider__arrow {
    @include reset-button-style;
    display: block;
    position: absolute;
    font-size: 0;
    top: 208px;
    width: 30px;
    height: 49px;
    opacity: 0.3;
    background-color: transparent;
    background-repeat: no-repeat;

    &--last {
      left: 3px;
    }

    &--next {
      right: 10px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
