.packets__wrapper {
  position: relative;
  background-color: $color-white-gray;
  width: 100%;
  max-height: 430px;

  &::before {
    content: "";
    position: absolute;
    top: -40px;
    width: 100%;
    height: 60px;
    background-color: $color-white-gray;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center -1px;
  }
}

.packets {
  max-width: $mobile-width;
  padding-top: 85px;
  padding-right: 0;
  padding-bottom: 48px;
  padding-left: 0;
  margin: 0 auto;
}

.packets__inner {
  max-width: $mobile-width;
  overflow: hidden;
  margin: 0;
  margin-top: -40px;
  padding-top: 4px;
  box-sizing: border-box;
}

.packets__table {
  position: relative;
  width: 1120px;
  margin-left: -559px;
  padding-bottom: 38px;
  box-sizing: border-box;
}

.packets__head {
  position: relative;
  width: 280px;
  padding-top: 17px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-left: 18px;
  background-color: $color-background-gray;
  color: $color-white;
  font-size: $font-size__title;
  line-height: $font-size__text--big;
  text-transform: uppercase;
  box-sizing: border-box;
}

.packets__head--hit {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    color: $color-red-4;
    width: 70px;
    height: 73px;
  }

  &::after {
    position: absolute;
    content: attr(data-description);
    left: 9px;
    top: 12px;
    text-transform: uppercase;
    font-size: $font-size__text--more;
    line-height: $font-size__text--big;
    font-weight: 700;
    transform: rotate(-45deg);
    z-index: 4;
  }
}

.packets__USD {
  display: block;
  font-weight: 100;
  font-size: $font-size__title--big;
  line-height: $font-size__text--big;
  margin-top: 1px;
}

.packets__filter {
  color: $color-gray-font;
}

.packets__filter,
.packets__included,
.packets__excluded {
  position: relative;
  width: 280px;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 22px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: $color-white;
  box-sizing: border-box;
}

.packets__included,
.packets__excluded {
  background-image: url("../img/icon-yes.svg");
  background-size: 31px 21px;
  background-position: top 18px right 18px;
  background-repeat: no-repeat;
  border: none;
}

.packets__excluded {
  background-image: url("../img/icon-no.svg");
  background-size: 27px 26px;
  background-position: top 13px right 20px;
}

@media (min-width: $tablet-widths) {
  .packets {
    max-width: $tablet-widths;
    padding: 0;
    margin: 0 auto;
  }

  .packets__wrapper {
    position: relative;
    background-color: $color-white-gray;
    width: 100%;
    max-height: 630px;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      background-color: $color-white-gray;
      background-image: url("../img/bg-triangle-white.svg");
      background-repeat: no-repeat;
      background-position: center 0;
      width: 100%;
    }
  }

  .packets__inner {
    max-width: 660px;
    margin-top: 0;
    padding-top: 82px;
    padding-right: 20px;
    padding-bottom: 28px;
    padding-left: 17px;
    overflow: visible;
  }

  .packets__table {
    max-width: 626px;
    margin-left: 0;
    box-sizing: border-box;
    border: 2px solid $color-white-gray;
  }

  .packets__head {
    width: 140px;
    padding-top: 18px;
    padding-right: 0;
    padding-bottom: 9px;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 700;
    box-sizing: border-box;

    &--null {
      background-color: transparent;
    }
  }

  .packets__head--hit {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/bg-hit-tablet.svg");
      background-repeat: no-repeat;
      color: $color-red-4;
      width: 70px;
      height: 80px;
    }

    &::after {
      position: absolute;
      content: attr(data-description);
      left: 6px;
      top: 3px;
      text-transform: uppercase;
      font-size: $font-size__text--more;
      line-height: $font-size__text--big;
      font-weight: 700;
      transform: rotate(-45deg);
      z-index: 4;
    }
  }

  .packets__USD {
    font-size: $font-size__title;
  }

  .packets__filter {
    width: 156px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    line-height: 38px;
    text-transform: capitalize;
  }

  .packets__included,
  .packets__excluded {
    width: 156px;
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 4px;
    padding-left: 40px;
    background-position: center;
  }

  .packets__option-name {
    font-size: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-widths) {
  .packets {
    max-width: $desktop-widths;
  }

  .packets__inner {
    max-width: $desktop-widths;
    padding-top: 150px;
    padding-right: 0;
    padding-bottom: 93px;
    padding-left: 9px;
  }

  .packets__wrapper {
    position: relative;
    background-color: $color-white-gray;
    width: 960px;
    margin: 0 auto;
    max-height: 630px;
    background-position: center -1px, left;
    background-size: 100%;

    &::before {
      content: "";
      position: absolute;
      top: -11px;
      height: 80px;
      background-color: $color-white-gray;
      background-image: url("../img/bg-triangle-white.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 0;
      transform: translateY(-4px);
      width: 100%;
    }
  }

  .packets__table {
    max-width: 945px;
    padding: 0;
    margin-top: -21px;
    box-sizing: border-box;
    border: 2px solid $color-white-gray;
  }

  .packets__head {
    width: 242px;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 38px;
    line-height: 30px;
    font-size: $font-size__title;
  }

  .packets__head:nth-child(2) {
    padding-left: 40px;
  }

  .packets__head--hit {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      color: $color-red-4;
      width: 72px;
      height: 79px;
    }

    &::after {
      position: absolute;
      content: attr(data-description);
      left: 10px;
      top: 10px;
      text-transform: uppercase;
      font-size: $font-size__text--more;
      line-height: $font-size__text--big;
      font-weight: 700;
      transform: rotate(-45deg);
      z-index: 4;
    }
  }

  .packets__USD {
    font-size: $font-size__title--big;
  }

  .packets__filter {
    width: 230px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-size: $font-size__title;
    line-height: 40px;
  }

  .packets__included,
  .packets__excluded {
    width: 232px;
    padding-top: 5px;
    padding-right: 90px;
    padding-bottom: 5px;
    padding-left: 90px;
  }
}
