.photo__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: $mobile-width;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.photo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;

  &--wide {
    width: $mobile-width;
    margin-bottom: 21px;
  }
}

.photo__img,
.photo__link {
  width: 280px;
  height: 180px;
}

.photo__img--wide,
.photo__link--wide {
  width: $mobile-width;
  height: 137px;
}

.photo__label-block {
  position: absolute;
  width: 140px;
  padding-top: 6px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
  top: 0;
  right: 20px;
  background-color: $color-red;
  box-sizing: border-box;
  z-index: 1;
}

.photo__label-text {
  text-align: center;
  margin: 0;
  font-size: $font-size__text--small;
  font-weight: 700;
  line-height: 24px;
  color: $color-white;
  text-transform: uppercase;
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 280px;
  padding-top: 18px;
  padding-right: 22px;
  padding-bottom: 20px;
  padding-left: 18px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-grow: 1;
  background-color: $color-white-gray;

  &--wide {
    max-width: $mobile-width;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    padding-top: 18px;
    padding-right: 22px;
    padding-bottom: 20px;
    padding-left: 18px;
  }
}

.photo__name {
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
}

.photo__name-text {
  @include reset-text-style;
}

.photo__time {
  font-weight: 100;
  font-size: 14px;
}

.photo__text {
  max-width: 246px;
  margin-bottom: 11px;
  margin-top: 0;
  line-height: 24px;
  color: $color-gray-font;
}

.photo__like-block {
  display: flex;
  align-items: center;
  width: 240px;
}

.photo__like {
  width: 17px;
  height: 17px;
  padding-top: 0;
  border: none;
  margin-left: -2px;
  background-color: transparent;
  background-position: center;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.photo__count {
  margin-left: 16px;
  font-size: $font-size__text--small;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-red;
}

@media (min-width: $tablet-widths) {
  .photo__inner {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 660px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    margin-top: 50px;
  }

  .photo__label-block {
    top: 57px;
    right: 20px;
    padding-top: 5px;
  }

  .photo {
    width: 300px;
    padding: 0;

    &--wide {
      width: 660px;
      max-width: 660px;
    }
  }

  .photo__img,
  .photo__link {
    width: 300px;
    height: 300px;

    &--wide {
      width: 660px;
      height: 508px;
    }
  }

  .photo__wrapper {
    max-width: 300px;
    min-height: 155px;
    padding-top: 25px;
    padding-right: 27px;
    padding-bottom: 21px;
    padding-left: 27px;
    margin-left: 0;
    margin-right: 0;

    &--wide {
      max-width: 620px;
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: 120px;
      padding-top: 24px;
      padding-right: 27px;
      padding-bottom: 16px;
      padding-left: 27px;
      margin-right: 20px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 20px;
    }
  }

  .photo__name--wide {
    order: 2;
  }

  .photo__text {
    margin-bottom: auto;

    &--wide {
      max-width: 620px;
      margin-top: -2px;
      order: 3;
    }
  }

  .photo__like-block {
    justify-content: space-between;
    width: 243px;

    &--wide {
      justify-content: center;
      order: 1;
      width: auto;
    }
  }

  .photo__like-block--wide .photo__count {
    padding-top: 2px;
  }

  .photo__like {
    order: 2;
    margin-bottom: 3px;
    margin-left: 14.5px;
  }

  .photo__count {
    margin-left: 0;
  }
}

@media (min-width: $desktop-widths) {
  .photo__inner {
    max-width: 960px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .photo {
    width: 300px;
    margin-bottom: 50px;

    &--wide {
      min-width: 100%;
      margin-bottom: 50px;
    }

    &:nth-child(3) {
      margin-bottom: 54px;
    }
  }

  .photo__label-block {
    top: 55px;
    right: 10px;
  }

  .photo__img,
  .photo__link {
    height: 400px;

    &--wide {
      min-width: 960px;
      height: 506px;
    }
  }

  .photo__label-text {
    top: 55px;
    right: 10px;
  }

  .photo__wrapper {
    padding-top: 24px;
    padding-right: 27px;
    padding-bottom: 22px;
    padding-left: 27px;

    &--wide {
      width: 940px;
      max-width: 940px;
      min-height: 95px;
      padding-top: 25px;
      padding-right: 30px;
      padding-bottom: 14px;
      padding-left: 27px;
      margin: 0 auto;
    }
  }

  .photo__text--wide {
    width: 885px;
    max-width: 885px;

    &--wide {
      max-width: 620px;
      margin-top: -2px;
      order: 3;
    }
  }

  .photo__like-block--wide .photo__count {
    padding-top: 0;
  }

  .photo__like-block--wide .photo__like {
    margin-left: 16px;
  }
}
